<h1>編輯會員資料</h1>

<%= form_for(current_user, url: users_path, method:"put") do |form| %>

<div class="field">
  <%= form.label :account, "帳號" %>
  <%= current_user.account %>
</div>

<div class="field">
  <%= form.label :email, "信箱" %>
  <%= form.text_field :email %>
</div>
<div class="field">
  <%= form.label :nickname, "暱稱" %>
  <%= form.text_field :nickname %>
</div>


<%= form.submit "修改" %>
<% end %>