<h1>發表留言</h1>

<%= form_for(@post) do |form| %>

<div class="field">
  <%= form.label :title, "留言主題" %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :nickname, "暱稱" %>
  <%= form.text_field :nickname %>
</div>

<div class="field">
  <%= form.label :email, "email" %>
  <%= form.text_field :email %>
</div>

<div class="field">
  <%= form.check_box :email %>
  <%= form.label :email, "收到回覆時email通知我" %>
  
</div>

<div class="field">
  <%= form.label :content, "內容" %>
  <%= form.text_area :content %>
</div>

<%= form.submit "發表留言" %>
<% end %>

<%= link_to "返回上一頁", :back %>