<h1>訪客留言 </h1>

<table>
  <thead>
    <tr>
      <td>留言主題</td>
      <td>留言者</td>
      <td>留內容</td>
      <td>留言日期</td>
      <td>回應日期</td>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td><%= @post.title %></td>
      <td><%= @post.nickname %></td>
      <td><%= @post.content %></td>
      <td><%= @post.created_at %></td>
      <td>回應日期</td>
      
    </tr>
  </tbody>
</table>

<h1>民宿回覆</h1>
<%= link_to "回覆留言", new_post_comment_path(@post) %>

<% @comment.each do |comment| %>
<div class="field">
  <%= comment.content %>
</div>
<% end %>


